{% extends 'layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block title %}Policies{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="top-container mb-4 row g-0 rounded-4">
            {{test}}
        </div>
    </div>
{% endblock %}
